body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.section1 {
    background-color: #1F2937;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width:  1000px;
    margin: 0px;
    padding: 0 12px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.content1 {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 72px 0px;
    gap: 12px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882F6;
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    color: #F9FAF8;
    width: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right img {
    width: 500px;
    height: auto;
}